<h1 class="display-4"><%= username %>'s Todo List</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% todos.forEach((todo) => { %>
    <tr>
      <td>
        <% if(todo.status === true) { %>
          <a href="/todo/update/<%= todo.id %>/<%= todo.status %>" class="btn btn-primary">Done</a>
        <% } else { %>
          <a href="/todo/update/<%= todo.id %>/<%= todo.status %>" class="btn btn-danger">unDone</a>
        <% } %>
      </td>
      <td><%= todo.title %></td>
      <td>
        <a href="/todo/delete/<%= todo.id %>" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<h1 class="display-4">Add Todo</h1>
<form method="POST" action="/todo/create/">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" value="">
  </div>
  <input type="submit" value="Submit" class="btn btn-primary">
</form>