<div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="/register" autocomplete="off">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="username"
                            value="<%= username %>">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password"
                            value="<%= password %>">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="fullname" placeholder="fullname"
                            value="<%= fullname %>">
                    </div>
                    <button type="submit" id="sendlogin" class="btn btn-primary">register</button>
                </form>
                <% messages.forEach((message) => { %>
                <div class="alert alert-danger alert-dismissible fade show">
                    <%= message %>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>